<div class="col-sm-8">
<h2 class="title">Empréstimos aguardando devolução</h2>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Date de empréstimo</th>
            <th scope="col">Data prevista devolução</th>
            <th scope="col">Qtd. de livros</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="rec in vm.emprestimosPendentes">
            <th scope="row">{{rec.cliente.nome}}</th>
            <td>{{rec.dataEmprestimo | date: 'dd/MM/yyyy'}}</td>
            <td>{{rec.dataPrevisaoDevolucao | date: 'dd/MM/yyyy'}}</td>
            <td>{{rec.livros.length}}</td>
            <td style="text-align: right">
                <a class="btn btn-sm btn-success" ui-sref="emprestimo.edit({id: rec.id})">Devolução</a>
            </td>
        </tr>
    </tbody>
</table>

<ui-view></ui-view>
