<div class="container-fluid">
    <div class="row justify-content-sm-center">
        <div class="col-sm-8">
            <h2 class="title">{{vm.title}}</h2>
            <form>
                <textarea cols="80" rows="12" readonly class="form-control" ng-show="false">{{vm.record}}</textarea>
                <div class="form-group col-md-12">
                    <label>Cliente</label>
                    <input type="text" ng-model="vm.record.cliente.nome" readonly class="form-control" ng-show="vm.record.id">
                    <select id="clientes" class="custom-select" ng-model="vm.record.cliente" ng-required="true" ng-show="!vm.record.id" >
                        <option value ="">Selecione o cliente</option>
                        <option ng-repeat="cliente in vm.clientes | orderBy:'nome'" ng-value="cliente" ng-selected="vm.record.cliente.id == cliente.id">
                            {{cliente.nome}}
                        </option>
                    </select>
                </div>                
                <div class="form-group col-md-12">
                    <label>Funcionário</label>
                    <input type="text" ng-model="vm.record.funcionario.nome" readonly class="form-control" ng-show="vm.record.id">
                    <select id="funcionarios" class="custom-select" ng-model="vm.record.funcionario" ng-required="true" ng-show="!vm.record.id">
                        <option value ="">Selecione o funcionário</option>
                        <option ng-repeat="funcionario in vm.funcionarios | orderBy:'nome'" ng-value="funcionario" ng-selected="vm.record.funcionario.id == funcionario.id">
                            {{funcionario.nome}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label>Data de empréstimo</label>
                    <input type="text" ng-value="vm.record.dataEmprestimo | date: 'dd/MM/yyyy'" readonly class="form-control" ng-show="vm.record.id">
                    <input class="form-control" ng-flatpickr data-date-format="Y-m-d" type="text" ng-model="vm.record.dataEmprestimo" ng-show="!vm.record.id">
                </div>
                <div class="form-group col-md-5">
                    <label>Data de previsão de devolução</label>
                    <input type="text" ng-value="vm.record.dataPrevisaoDevolucao | date: 'dd/MM/yyyy'" readonly class="form-control">
                </div>
                <div class="form-group col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Títulos</th>
                                <th scope="col">Autor</th>
                                <th scope="col">Editora</th>
                                <th style="text-align: right">
                                    <a class="btn btn-outline-info" data-toggle="modal" data-target="#addLivroModal">Adicionar livro</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rec in vm.record.livros">
                                <th scope="row">{{rec.titulo}}</th>
                                <td>{{rec.autor.nome}}</td>
                                <td>{{rec.editora.nome}}</td>
                                <td style="text-align: right">
                                    <button ng-click="vm.removerLivro(rec)" class="btn btn-sm btn-danger" type="button">Remover</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group col-md-5" ng-show="vm.record.id">
                    <label>Data de devolução</label>
                    <input type="text" ng-value="vm.record.dataDevolucao | date: 'dd/MM/yyyy'" readonly class="form-control" ng-show="!vm.isDevolucao && vm.record.id">
                    <input class="form-control" ng-flatpickr data-date-format="Y-m-d" type="text" ng-model="vm.record.dataDevolucao" ng-required="true" ng-show="vm.isDevolucao">
                </div>
                <div class="form-group col-md-5" ng-show="vm.record.id">
                    <label>Multa por atraso</label>
                    <input type="text" ng-model="vm.record.multaPorAtraso" readonly class="form-control" ng-show="!vm.isDevolucao && vm.record.id">
                    <input type="number" ng-model="vm.record.multaPorAtraso" class="form-control" min="0" ng-show="vm.isDevolucao">
                </div>
                <div class="form-group col-md-12">
                    <label>Obsevações</label>
                    <textarea cols="60" rows="3" class="form-control" ng-model="vm.record.observacoes" readonly ng-show="!vm.isDevolucao && vm.record.id"></textarea>
                    <textarea cols="60" rows="3" class="form-control" ng-model="vm.record.observacoes" ng-show="vm.isDevolucao || !vm.record.id"></textarea>
                </div>
                <br>
                <div class="form-group col-md-12">
                    <button ng-click="vm.save()" type="button" class="btn btn-primary btn-lg" ng-show="vm.isDevolucao || !vm.record.id">{{ !vm.isDevolucao ? 'Salvar Registro' : 'Devolver' }}</button>
                    <a ui-sref="emprestimo.list" class="btn btn-danger" ng-show="vm.isDevolucao || !vm.record.id">Cancelar</a>
                    <a ui-sref="emprestimo.list" class="btn btn-outline-info" ng-show="!vm.isDevolucao && vm.record.id">Voltar</a>         
                </div>
            </form>
            {{vm.record}}
        </div>
    </div>

    <!-- Add livro modal -->
    <div class="modal fade" id="addLivroModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Adicionando livros ao empréstimo</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <input ng-model="filtroLivro" class="form-control justify-content-center" type="search" placeholder="Buscar título" aria-label="Buscar título">
                <br>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Título</th>
                            <th scope="col">Autor</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="rec in vm.livrosDisponiveis | filter:filtroLivro">
                            <th scope="row">{{rec.titulo}}</th>
                            <td>{{rec.autor.nome}}</td>
                            <td style="text-align: right">
                                <button class="btn btn-sm btn-success" ng-click="vm.addLivro(rec.id)" type="button">Adicionar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <nav aria-label="Páginas">
                    <ul class="pagination pagination-sm justify-content-center">
                        <li class="page-item"><a class="page-link">Anterior</a></li>
                        <li class="page-item"><a class="page-link">1</a></li>
                        <li class="page-item"><a class="page-link">2</a></li>
                        <li class="page-item"><a class="page-link">3</a></li>
                        <li class="page-item"><a class="page-link">Próximo</a></li>
                    </ul>
                </nav>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Pronto</button>
            </div>
          </div>
        </div>
      </div>
</div>
